{% extends 'default.html' %}
 
    
    {% block title %}
          Cars
    {% endblock title %}
    
    {% block content %}
       
<h1>Мои машины</h1>
<h3>{{ time_now }}</h3>
<h4>У меня {{ cars|length }} машина.</h4>
       <hr>
       {% if cars %}
       <!-- Перед таблицей добавим форму для поиска -->
       <h4>Быстрый поиск</h4>
       <p></p>
       <form method="GET">
        {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
        <p></p>
        
        <input type="submit" value="Найти">
        </form>

           <table class="table table-striped">
            <thead>
               <tr>
                   <th scope="col">Название</th>
                   <th scope="col">Заводской №</th>
                   <th scope="col">Модель техники</th>
                   <th scope="col">Модель двигателя</th>
                   <th scope="col">№ двигателя</th>
                   <th scope="col">Модель траесмиссии</th>
                   <th scope="col">№ трансмиссии</th>
                   <th scope="col">Модель ведущего моста</th>
                   <th scope="col">№ ведущего моста</th>
                   <th scope="col">Модель управляемого моста</th>
                   <th scope="col">№ управляемого моста</th>
                   <th scope="col">Договор поставки №, дата</th>
                   <th scope="col">Дата отгрузки с завода</th>
                   <th scope="col">Грузополучатель</th>
                   <th scope="col">Адрес поставки (эксплуатации)</th>
                   <th scope="col">Комплектация (доп. опции)</th>
                   <th scope="col">Клиент</th>
                   <th scope="col">Сервисная компания</th>
 
                     
               </tr>
            </thead>
            <tbody>
                  
            
              
               <!-- Для каждого товара будете генерироваться новая строчка,
    
               т.е. новый HTML код, который указан в теле цикла.
               При этом сам цикл работает точно так же, как и в Python.
               product — переменная цикла, т.е. наш товар полученный из списка -->
               {% for car in filter.qs %}
               
               <tr>
                   <th scope="row">
                      <a href="{% url 'my_car' car.id %}" class="link-dark">{{ car.name|truncatechars:8 }}</a>
                   </th>
                   <th scope="row">{{ car.factory_number|truncatechars:7 }}</th>
                   <th scope="row">{{ car.technique_model|truncatechars:7 }}</th>
                   <th scope="row">{{ car.engine_model|truncatechars:7 }}</th>
                   <th scope="row">{{ car.engine_number|truncatechars:7 }}</th>
                   <th scope="row">{{ car.transmission_model|truncatechars:7 }}</th>
                   <th scope="row">{{ car.transmission_number|truncatechars:7 }}</th>
                   <th scope="row">{{ car.drive_axle_model|truncatechars:7 }}</th>
                   <th scope="row">{{ car.drive_axle_number|truncatechars:7 }}</th>
                   <th scope="row">{{ car.steerable_axle_model|truncatechars:7 }}</th>
                   <th scope="row">{{ car.steerable_axle_number|truncatechars:7 }}</th>
                   <th scope="row">{{ car.supply_contract|truncatechars:7 }}</th>
                   <th scope="row">{{ car.date_of_shipment_from_the|date:'d M Y' }}</th>
                   <th scope="row">{{ car.consignee|truncatechars:7 }}</th>
                   <th scope="row">{{ car.delivery_address|truncatechars:7 }}</th>
                   <th scope="row">{{ car.equipment|truncatechars:7 }}</th>
                   <th scope="row">{{ car.client|truncatechars:7 }}</th>
                   <th scope="row">{{ car.service_company|truncatechars:7 }}</th>
               </tr>
               {% endfor %}
            </tbody>
           </table>
           
       {% else %}

           <h2>Машин в базе нет!</h2>
    
       {% endif %}
       
       
       <!-- <div class="d-grid gap-3 col-3 mx-auto">
       
       </div> -->

    <!-- {% if is_paginated %}-->
 
    <!-- Если доступна предыдущая страница, то даём ссылку на неё и самую первую страницу -->
    <!-- {% if page_obj.has_previous %}
        <a href="?page=1">Начало</a>
        <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
  --> 
    <!-- Показываем только текущую страницу и ближайшие к ней, чтобы список не тянулся и не захламлял страницу -->
    <!-- {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
 
    Если есть следующая страница, то даём ссылку на неё и на самую последнюю страницу -->
    <!-- {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Далее</a>
    {% endif %}
 
{% endif %} -->
   
 
{% endblock content %}