{% extends 'default.html' %}

{% block content %}
<style>
    .log {
        margin-left: 67em;
        margin-top: -11em;
    }
h3 {
    text-align: center;
}   

   
</style>
<div class="log">
<h3> Вход</h3>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

<input type="submit" value="Войти" color="#D20A11">
</form>
</div>
<!-- <button> <a href="/sign/signup"> Регистрация </a></button> -->
{% endblock %}